#raw-img{
    display: flex;
    justify-content: space-evenly;
    margin-left: -5rem;
    padding: 0;
}

#header-sec img{
    order: 1;
    height: 50rem;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    box-sizing: border-box;
  }
#second{
    background:#2f3542;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-info{
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
  
  
  .card{
    background: rgba(255, 255, 255, 0.904);
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fc5c65 ;
    cursor: pointer;
  }
  
  .card-icon{
    font-size: 28px;
    background: white;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
  }
  
  .card:hover .card-icon{
    background: none;
    color: #fc5c65;
    transform: scale(1.6);
  }
  
  .card p{
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
  }
  
  .card:hover p{
    max-height: 40px;
    opacity: 1;
  }
  
  
  @media screen and (max-width:800px) {
    .contact-info{
      flex-direction: column;
    }
    .card{
      width: 100%;
      max-width: 300px;
      margin: 10px 0;
    }
  }
  

  mark{
      background-color:#fc5c65;
  }

  li{
      color: black;
  }

  div{
    margin:0 px;
    overflow:hidden;
  }


div img{
    height: 400px;
}

